:root {
  --untitledframe-41source: rgba(0, 175, 41, 1);
  --untitledframe-4160: rgba(0, 37, 0, 1);
  --untitledframe-4150: rgba(0, 77, 0, 1);
  --untitledframe-4140: rgba(0, 119, 0, 1);
  --untitledframe-4130: rgba(0, 163, 31, 1);
  --untitledframe-4120: rgba(82, 206, 83, 1);
  --untitledframe-4110: rgba(147, 250, 139, 1);
}
